<form [formGroup]="formUsuario" (ngSubmit)="save($event)" class="mobile-form">
  <div class="modal-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Usuario</mat-card-title>
      </mat-card-header>

      <mat-card-content class="card-content-container">
        <div class="form-row">
          <mat-form-field class="half-width">
            <mat-label>Usuario</mat-label>
            <input
              matInput
              formControlName="usuario"
              [value]="usuario?.value | ajustarTexto | removeSpaces"
            />
            <mat-error *ngIf="formUsuario.get('usuario')?.hasError('required')"
              >Campo requerido</mat-error
            >
            <mat-error *ngIf="usuario && usuario.hasError('not_available')"
              >El Usuario ya existe</mat-error
            >
            <mat-error *ngIf="usuario && usuario.hasError('minlength')"
              >Minimo 4 caracteres</mat-error
            >
          </mat-form-field>

          <mat-form-field class="half-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="formUsuario.get('password')?.hasError('required')"
              >Campo requerido</mat-error
            >
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field class="half-width">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              formControlName="nombre"
              [value]="nombre?.value | ajustarTexto"
            />
            <mat-error *ngIf="formUsuario.get('nombre')?.hasError('required')"
              >Campo requerido</mat-error
            >
          </mat-form-field>

          <mat-form-field class="half-width">
            <mat-label>Apellido</mat-label>
            <input
              matInput
              formControlName="apellido"
              [value]="apellido?.value | ajustarTexto"
            />
            <mat-error *ngIf="formUsuario.get('apellido')?.hasError('required')"
              >Campo requerido</mat-error
            >
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error
              *ngIf="
                formUsuario.get('email')?.hasError('required') &&
                !formUsuario.get('email')?.value
              "
            >
              Campo requerido
            </mat-error>
            <mat-error
              *ngIf="
                formUsuario.get('email')?.hasError('email') ||
                formUsuario.get('email')?.hasError('customEmailFormat')
              "
            >
              Email no válido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field class="half-width">
            <mat-label>Rol de Usuario</mat-label>
            <mat-select formControlName="rolUsuarioId">
              <mat-option *ngFor="let item of rolUsuarios" [value]="item.id">{{
                item.nombre
              }}</mat-option>
            </mat-select>

            <mat-error
              *ngIf="formUsuario.get('rolUsuarioId')?.hasError('required')"
              >Campo requerido</mat-error
            >
          </mat-form-field>

          <mat-form-field class="half-width">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="activo">
              <mat-option value="true">Activo</mat-option>
              <mat-option value="false">Inactivo</mat-option>
            </mat-select>
            <mat-error *ngIf="formUsuario.get('activo')?.hasError('required')"
              >Campo requerido</mat-error
            >
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions class="button-container">
        <button
          class="button-row"
          mat-stroked-button
          type="button"
          color="Basic"
          (click)="cerrarDialog()"
        >
          Cerrar
        </button>

        <button
          class="button-row"
          mat-raised-button
          type="submit"
          [disabled]="formUsuario.invalid"
          color="primary"
        >
          {{ botonAccion }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
