.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  height: 100%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

@media (max-width: 768px) {
  /* Cuando el ancho de la pantalla es igual o menor a 768px */
  .grid-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(100%, 1fr)
    ); /* Cada tarjeta ocupará el 100% del ancho disponible */
  }
}
